<HTML>
    <BODY bgcolor="white">
        <svg class="bar-chart"></svg>
        <script src="https://cdn.jsdelivr.net/npm/chart.xkcd@1.1/dist/chart.xkcd.min.js"></script>
        <script>
            const svg = document.querySelector('.bar-chart')
            
            const barChart = new chartXkcd.Bar(svg, {
                title: "{{ data['title'] }}", 
                xLabel: "{{ data['xLabel'] }}", 
                yLabel: "{{ data['yLabel'] }}",
                data: {
                    labels: 
                    [
                      {%for label in data['data.labels']%} 
                        "{{label}}",
                      {%endfor%} 
                    ],
                    datasets: [{
                        data: {{ data['data.datasets.data'] }},
                    }],
                },
                options: { // optional
                    yTickCount: 2,
                },
            });
        
        </script>        
    </BODY>
</HTML>