<HTML>
    <BODY bgcolor="white">
    <form method="POST" action="">
        <center>
        <H1>Create a Survey </H1> <br>
        Create a survey using the following convention.  <br><br>
        Question with multiple answers: <br>
        x Checkbox option 1 <br>
        x Checkbox option 2 <br>
        x Checkbox option 3 <br><br>        
        Question with single answer: <br>
        o Option 1 <br>
        o Option 2 <br>
        o Option 3 <br>
        <input type="text" name="survey" /> <br>
        <input type="submit">
        </center>
    </form>
    </BODY>
</HTML>