<HTML>
    <BODY bgcolor="white">
    <form method="POST" action="">
        <left>
        <H1>Create a Survey </H1>
        Create a survey using the following convention.  <br>
        <br>
        Question with single answer: <br>
        * Option 1 <br>
        * Option 2 <br>
        * Option 3 <br>
        <br>
        Question with multiple answers: <br>
        v Checkbox option 1 <br>
        v Checkbox option 2 <br>
        v Checkbox option 3 <br>
        <br>        
        <textarea name="survey" rows="6" cols="80">I would never: 
* Leave your
* Rick roll you</textarea>
        <br>
        <input type="submit">
        </left>
    </form>
    </BODY>
</HTML>