<HTML>
    <BODY bgcolor="white">

        <form method="POST" action="">
        <left>
        <h2>Survey Lite: new survey </h2>
        Create a survey using the following convention.  <br>
        <br>
        Question with single answer (radio button): <br>
        * Option 1 <br>
        * Option 2 <br>
        * Option 3 <br>
        <br>
        Question with multiple answers (checkbox): <br>
        ^ Option 1 <br>
        ^ Option 2 <br>
        ^ Option 3 <br>
        <br>
        Type your answer here:<br>        
        <textarea name="survey" rows="10" cols="80" style="font-size: 12pt">Python never gonna:
 ^ give you up.
 ^ let you down.
 ^ run around and desert you.
 ^ make you cry.
 ^ say goodbye.
 ^ tell a lie and hurt you.
</textarea>
        <br>
        <input type="submit">
        </left>
    </form>
    </BODY>
</HTML>